/* .tt styling from https://stackoverflow.com/a/20205623, for overlay on suggestions */
.tt-menu { /* UPDATE: newer versions use tt-menu instead of tt-dropdown-menu */
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
    padding: 3px 10px;
    font-size: 18px;
}

.tt-suggestion.tt-is-under-cursor { /* UPDATE: newer versions use .tt-suggestion.tt-cursor */
    color: #fff;
    background-color: #0097cf;
}

.twitter-typeahead {
    /* Keeps the category input box from being cropped */
    width: 100%;
}

.progress {
    background-color: rgba(0,0,0,.2);
    height: 8px;
    margin-bottom: 8px;
}

.progress-bar {
    background-color: white;
}

.category-box {
    padding: 1px 10px 5px 10px;
    margin-bottom: 15px;
    font-size: 1.5em;
}

.category-box-social {
    font-size: 0.7em;
    text-align: right;
}