<!DOCTYPE html>
<html>
<head>
    <% include ../includes/head.ejs %>
</head>

<body class="hold-transition skin-black fixed sidebar-mini">
    <div class="wrapper">

        <% include ../includes/top-nav.ejs %>
        <% include ../includes/side-nav.ejs %>

        <div class="content-wrapper container-fluid">
            <!-- Main content -->
            <h1><%= title %></h1>
            <div id="messageBox" class="alert alert-danger" style="display:none"></div>

            <div class="box box-primary">
                <form id="addExpenseForm" onsubmit="addExpense(); return false;">
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-4 form-group">
                                <label for="category">Category</label>
                                <input type="text" class="form-control typeahead tt-menu" autocomplete="off" data-toggle="tooltip" data-trigger="manual" id="category" name="category" maxLength=30 placeholder="e.g. Food">
                            </div>
                            <div class="col-md-4 form-group">
                                <label for="amount">Amount</label>
                                <div class="input-group">
                                    <span class="input-group-addon">$</span>
                                    <input type="number" class="form-control" id="amount" name="amount" min="0" step="0.01" value="0.00" autocomplete="off"/>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 form-group">
                                <label for="shortDescription">Short Description</label>
                                <input type="text" class="form-control typeahead tt-menu" autocomplete="off" data-toggle="tooltip" data-trigger="manual" id="shortDescription" name="shortDescription" maxLength=30 placeholder="e.g. McDonalds (optional)">
                            </div>
                            <div class="col-md-8 form-group">
                                <label>Long Description</label>
                                <textarea class="form-control" id="longDescription" name="longDescription" rows="3" placeholder="e.g. Big Mac (optional)"></textarea>
                            </div>
                        </div>
                        <div class="row" id="recurringDiv">
                            <div class="col-md-12">

                                <div class="row">
                                    <div class="col-md-4">
                                        <label for="startsOn">Starts:</label>
                                        <div class="form-group">
                                            <div class="radio">
                                                <label>
                                                    <input id="startsOnRadioNow" type="radio" value="now" name="startsOnRadio" checked>
                                                    &nbsp;Now
                                                </label>
                                            </div>
                                            <div class="radio">
                                                <label class="form-inline">
                                                    <input id="startsOnRadioDate" type="radio" value="date" name="startsOnRadio">
                                                    &nbsp;<div class="input-group">
                                                        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar fa fa-calendar"></i></span>
                                                        <input type="text" name="startsOnDate" id="startsOnDate" class="form-control">
                                                    </div>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 form-group">
                                        <label for="endsOn">Ends:</label>
                                        <div class="form-group">
                                            <div class="radio">
                                                <label>
                                                    <input id="endsOnRadioNow" type="radio" value="never" name="endsOnRadio" checked>
                                                    &nbsp;Never
                                                </label>
                                            </div>
                                            <div class="radio">
                                                <label class="form-inline">
                                                    <input id="endsOnRadioDate" type="radio" value="date" name="endsOnRadio">
                                                    &nbsp;<div class="input-group">
                                                        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar fa fa-calendar"></i></span>
                                                        <input type="text" name="endsOnDate" id="endsOnDate" class="form-control">
                                                    </div>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4 form-group">
                                        <label for="interval">Repeats Every:</label>
                                        <div class="form-inline">
                                            <select id="interval" class="form-control"  name="interval">
                                                <%
                                                    for (var i = 1; i <= 30; i++) {
                                                %>
                                                <option value="<%=i%>"><%=i%></<option>
                                                <%
                                                    }
                                                %>
                                            </select>
                                            <select id="frequency" class="form-control" name="frequency">
                                                <option value="days">Days</option>
                                                <option value="weeks">Weeks</option>
                                                <option value="months">Months</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-4 form-group" id="repeatsOnDiv">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary pull-right">Add Expense</button>
                    </div>
                </form>
            </div>

            <!-- /.content -->
            <% include ../includes/footer.ejs %>
        </div>
        <!-- /.content-wrapper -->
    </div>
    <!-- ./wrapper -->
    <% include ../includes/jsDefaults.ejs %>
    <script type="text/javascript" src="/javascripts/recurringExpenses/addRecurringExpense.js"></script>
</body>
</html>
