<!-- Main Footer commented out
<footer class="main-footer">
  To the right
  <div class="pull-right hidden-xs">
    We can put the company slogan here
  </div>
  Default to the left
  <strong>Copyright &copy; 2016 <a href="#">Budget App</a>.</strong> All rights reserved.
</footer>
-->