<!DOCTYPE html>
<html>
<head>
    <% include includes/head.ejs %>
</head>

<body class="hold-transition skin-black fixed sidebar-mini">
    <div class="wrapper">

        <% include includes/top-nav.ejs %>
        <% include includes/side-nav.ejs %>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <div class="col-sm-12 content-header">
                    <h1>
                        <%= title %>
                    </h1>
                </div>
            </section>

            <!-- Main content -->
            <section class="content">
                <div class="row">
                    <div class="col-md-offset-2 col-md-8">
                        <div id="incomeMsg"></div>
                        <div class="box box-primary">
                          <form id="addIncomeForm" onsubmit="addIncome(); return false;">
                            <div class="box-body">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="shortDescription">Short Description</label>
                                            <input type="text" class="form-control" data-toggle="tooltip" data-trigger="manual" id="shortDescription" name="shortDescription" maxLength=30 placeholder="Short Description">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="amount">Amount</label>
                                            <div class="input-group">
                                                <span class="input-group-addon">$</span>
                                                <input type="number" class="form-control" id="amount" name="amount" min="0" step="0.01" value="0.00" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="expenseDate">Income Date</label>
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="glyphicon glyphicon-calendar fa fa-calendar"></i></span>
                                                <input type="text" name="incomeDate" id="incomeDate" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>Long Description</label>
                                            <textarea class="form-control" name="longDescription" rows="3" placeholder="Long Description"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /.box-body -->

                            <div class="box-footer">
                              <button type="submit" class="btn btn-primary pull-right">Add Income</button>
                            </div>
                          </form>
                        </div>
                    </div>
                </div>
            </section>

            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->

        <% include includes/footer.ejs %>

    </div>
    <!-- ./wrapper -->

    <% include includes/jsDefaults.ejs %>

    <script src="/javascripts/addIncome.js"> </script>

</body>
</html>
