<!DOCTYPE html>
<html>
<head>
    <% include includes/head.ejs %>
</head>

<body class="hold-transition skin-black fixed sidebar-mini">
    <div class="wrapper">

        <% include includes/top-nav.ejs %>
        <% include includes/side-nav.ejs %>

        <div class="content-wrapper container-fluid">
            <!-- Main content -->
            <h1>404</h1>
    		    <div class="pad-btm text-red">
                    <% if(locals.message != undefined){ %>
                    <h3 class="text-uppercase text-red"><%- message %></h3>
                    <% } %>
    		    </div>
    		    <hr class="new-section-sm bord-no">
    		    <div class="pad-top"><a class="btn btn-default" href="/">Back to Dashboard</a></div>
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->

        <% include includes/footer.ejs %>

    </div>
    <!-- ./wrapper -->

    <% include includes/jsDefaults.ejs %>


</body>
</html>
