<!DOCTYPE html>
<html>
<head>
    <% include includes/head.ejs %>
    <script type="text/javascript" src="/plugins/Chart.min.js"></script>
</head>

<body class="hold-transition skin-black fixed sidebar-mini">
    <div class="wrapper">
        <% include includes/top-nav.ejs %>
        <% include includes/side-nav.ejs %>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper container-fluid">
            <!-- Main content -->
            <h1><%= title %></h1>
                <div class="btn-group" data-toggle="buttons">
                    <label class="btn btn-primary active">
                        <input type="radio" name="filter" id="month" checked>1 Month</input>
                    </label>
                    <label class="btn btn-primary">
                        <input type="radio" name="filter" id="quarter">3 Months</input>
                    </label>
                    <label class="btn btn-primary">
                        <input type="radio" name="filter" id="year">1 Year</input>
                    </label>
                </div>
            <div class="row">
                <div class="col-md-6">
                    <h2>$500 remaining</h2>
                    (Hardcoded.)
                    <canvas id="categories-pie"></canvas>
                </div>
                <div class="col-md-6">
                    <canvas id="time-bar"></canvas>
                </div>
                <div class="col-md-10">

                </div>
            </div>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->

        <% include includes/footer.ejs %>

    </div>
    <!-- ./wrapper -->

    <% include includes/jsDefaults.ejs %>
    <script type="text/javascript" src="/javascripts/dashboard.js"></script>

</body>
</html>
