<!DOCTYPE html>
<html>
<head>
    <% include includes/head.ejs %>
</head>

<body class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
            <a href="/"><b>Budget</b>App</a>
        </div>
        <% if (login != null && login.length > 0) { %>
            <div class="alert login-box-body"><%= login %>
                <br><br>
                <a href="/forgotPassword" class="btn btn-danger btn-block btn-flat">Reset Password</a>
            </div>
        <% } %>
        <!-- /.login-logo -->
        <div class="login-box-body">
            <p class="login-box-msg">Sign in, or get started by signing up.</p>

            <form id="login" action="/login", method="post">
                <div class="form-group has-feedback">
                    <input type="text" name="email" class="form-control" placeholder="Email" required autofocus>
                    <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    <input type="password" name="password" class="form-control" placeholder="Password" required>
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <button type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button>
                    </div>
                    <div class="col-sm-6">
                        <a href="/signup" class="btn btn-success btn-block btn-flat">Sign Up</a>
                    </div>
                </div>
            </div>
        </form>

    </div>
    <!-- /.login-box-body -->
    <% include includes/jsDefaults.ejs %>

</body>
</html>
