<!DOCTYPE html>
<html>
<head>
    <% include includes/head.ejs %>
</head>

<body class="hold-transition login-page">
        <div class="login-box">                
        <!-- /.login-logo -->
        <div class="login-box-body">
            <p class="login-box-msg">Enter your new password</p>
            <% if (unmatchedPasswords != null && unmatchedPasswords.length > 0) { %>
                <div class="alert alert-danger"><%= unmatchedPasswords %></div>
            <% } %>
            <% if (resetSuccess != null && resetSuccess.length > 0) { %>
                <div class="alert alert-success"><%= resetSuccess %></div>
            <% } %>
            <form method="post">
                
                <div class="form-group has-feedback">
                    <input type="password" name="newPassword" class="form-control" placeholder="New Password" required autofocus>
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>                    
                </div>
                <div class="form-group has-feedback">
                        <input type="password" name="confirmPassword" class="form-control" placeholder="Confirm New Password" required autofocus>
                        <span class="glyphicon glyphicon-lock form-control-feedback"></span>                        
                    </div>

                <div class="row">
                    <!-- /.col -->
                    <div class="col-xs-offset-4 col-xs-4">
                        <button type="submit" class="btn btn-primary btn-block btn-flat">Reset</button>

                </div>
            </div>
        </form>

            <br>
        <div style align='right'><a href = '/login' >Return to Login</a><div>

</div>
    </div>
    <!-- /.login-box-body -->
    <% include includes/jsDefaults.ejs %>

</body>
</html>
