<!DOCTYPE html>
<html>
<head>
    <% include includes/head.ejs %>
</head>

<body class="hold-transition skin-black fixed sidebar-mini">
    <div class="wrapper">

        <% include includes/top-nav.ejs %>
        <% include includes/side-nav.ejs %>

        <div class="content-wrapper container-fluid">
        <!-- Main content -->
        <h1><%= title %></h1>
        <div id="messageBox" class="alert alert-danger" style="display:none"></div>

        <div class="row">
            <div id="expenseMsg"></div>
            <div class="box box-primary">
            <form id="tableForm" action="/expenses/editExpense" method="get">
                <select class="selectpicker" data-style="btn-info" name="selectpicker">
                    <optgroup label="Select Table">
                        <option value="cashflowId">Select Expense Id</option>
                        <% cashflows.forEach(function(cashflow){ %>
                        <option value="<%= cashflow.dataValues.id %>"><%= cashflow.dataValues.id %></option>
                        <% }) %>
                    </optgroup>
                </select>
                <input type="submit" value="Edit" />
                </form>
        </div>
            <!-- /.content -->
    </div>
        <!-- /.content-wrapper -->

        <% include includes/footer.ejs %>

</div>
</div>
    <!-- ./wrapper -->
    <% include includes/jsDefaults.ejs %>

    <script type="text/javascript" src="/javascripts/addExpense.js"></script>

</body>
</html>
