<!DOCTYPE html>
<html>
<head>
    <% include includes/head.ejs %>
</head>

<body class="hold-transition skin-black fixed sidebar-mini">
    <div class="wrapper">

        <% include includes/top-nav.ejs %>
        <% include includes/side-nav.ejs %>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    <%= title %>
                </h1>
            </section>

            <!-- Main content -->
            <form method="post" action="/expenses/uploadCsv" enctype="multipart/form-data">
                <input type="file" name="mycsv">
                <input type="submit" name="submit" value="submit"> 
            </form>  
            </section>
          
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->

        <% include includes/footer.ejs %>

    </div>
    <!-- ./wrapper -->

    <% include includes/jsDefaults.ejs %>


</body>
</html>
