<!DOCTYPE html>
<html>
<head>
    <% include includes/head.ejs %>
    <script type="text/javascript" src="/plugins/plotly-latest.min.js"></script>
</head>

<body class="hold-transition skin-black fixed sidebar-mini">
    <div class="wrapper">

        <% include includes/top-nav.ejs %>
        <% include includes/side-nav.ejs %>

        <div class="content-wrapper container-fluid">

            <!-- Main content -->
            <h1><%= title %></h1>
            <form method="post" action="/expenses/uploadCsv" enctype="multipart/form-data">
                <span class="btn btn-default btn-file">
                    Please Chose your csv file<input type="file" name="mycsv">
                </span>
                <div \>
                <input class="btn btn-default btn-file" type="submit" name="submit" value="submit"> 

            </form>  
        
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->

        <% include includes/footer.ejs %>

    </div>
    <!-- ./wrapper -->

    <% include includes/jsDefaults.ejs %>
    <script type="text/javascript" src="/javascripts/dashboard.js"></script>

</body>
</html>
