<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
    <script type="text/javascript" charset="utf8" src="//code.jquery.com/jquery-1.12.4.js"></script>
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
  </head>
  <body>
   <table id="example" class="display" cellspacing="0" width="100%">
      <thead>
        <tr>
            <th>DateTime </th>
            <th>Amount </th> 
            <th>ShortDescription </th>
            <th>LongDescription </th>
        </tr>
      </thead>
        
      <tbody>
        <% for(var i=0; i<cashflows.length; i++) {%>
        <tr>
            <td><%= cashflows[i].dateTime %></td>
            <td><%= cashflows[i].amount %></td> 
            <td><%= cashflows[i].shortDescription %></td>
            <td><%= cashflows[i].longDescription %></td>
        </tr>
        <% } %>
      </tbody>
       
          
          
          
        
  </table>

    <script type="text/javascript">
      $(document).ready(function() {
    $('#example').DataTable();
} );</script>


  </body>



</html>